<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.base.GirlInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.GirlInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="girl_name" property="girlName" jdbcType="VARCHAR" />
    <result column="girl_age" property="girlAge" jdbcType="INTEGER" />
  </resultMap>
</mapper>